In [15]:
import os
import sys
print os.environ['JAVA_HOME']
#os.environ['PYSPARK_SUBMIT_ARGS'] = '--jars /data/spark-csv_2.11-1.5.0.jar'
spark_home = os.environ['SPARK_HOME'] = '/root/spark15'
if not spark_home:
    raise ValueError('SPARK_HOME enviroment variable is not set')
sys.path.insert(0,os.path.join(spark_home,'python'))
sys.path.insert(0,os.path.join(spark_home,'python/lib/py4j-0.9-src.zip'))
execfile(os.path.join(spark_home,'python/pyspark/shell.py'))
sc.setLogLevel("WARN")

/opt/jdk1.8.0_144
Welcome to
      ____              __
     / __/__  ___ _____/ /__
    _\ \/ _ \/ _ `/ __/  '_/
   /__ / .__/\_,_/_/ /_/\_\   version 2.2.0
      /_/

Using Python version 2.7.3 (default, Feb 12 2013 14:01:46)
SparkSession available as 'spark'.

In [14]:

del os.environ['PYSPARK_SUBMIT_ARGS']

In [16]:
fileout = sc.textFile("/user/root/w210/full_text/patent_claims_fulltext.csv")

In [17]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)
df = sqlContext.read.csv( path = "/user/root/w210/full_text/patent_claims_fulltext.csv",header = True,inferSchema = True)

### SPARK : Getting Data Schema

In [20]:
df.printSchema()

root
 |-- pat_no: integer (nullable = true)
 |-- claim_no: integer (nullable = true)
 |-- claim_txt: string (nullable = true)
 |-- dependencies: string (nullable = true)
 |-- ind_flg: integer (nullable = true)
 |-- appl_id: integer (nullable = true)

### Get total number of records

In [21]:
df.count()

52192948

### Get the Summary statistics

In [23]:
df.describe()

DataFrame[summary: string, pat_no: string, claim_no: string, claim_txt: string, dependencies: string, ind_flg: string, appl_id: string]

### Find Unique Patent Cases

In [ ]:
df.select('pat_no').distinct().count()

3537528

### Find records with no NULL

In [ ]:
df.dropna().count()

### length of each column